html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

div#game {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 10;
}

div#listModal {
	z-index: 100;
	width: 500px;
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -250px;
	background-color: white;
	border: 1px solid grey;
}

div#listModal .item {
	display: inline-block;
	height: 80px;
	width: 80px;
	border: 1px solid black;
	margin: 5px;
	background: grey;
}

div.cup {
	height: 80px;
	width: 80px;
	border: 1px solid black;
	position: absolute;
	top: 50%;
	background-grey;
}



/**** Animation Love ****/

div.cup.left {
	left: 30%;
}

div.cup.mid {
	left: 50%;
}

div.cup.right {
	left: 70%;
}

div.cup.lm-mid {
	left: 40%;
}

div.cup.rm-mid {
	left: 60%;
}

div.cup.up {
	top: 30%;
}

div.cup.down {
	top: 70%;
}

.single-time {
	transition: top .7s, left .7s;
	-webkit-transition: top .7s, left .7s;
	-moz-transition: top .7s, left .7s;
	-o-transition: top .7s, left .7s;
}

.double-time {
	transition: top .3s, left .3s;
	-webkit-transition: top .3s, left .3s;
	-moz-transition: top .3s, left .3s;
	-o-transition: top .3s, left .3s;
}