html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-image: url("http://subtlepatterns.com/patterns/darkdenim3.png");
}

div#game {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 10;
}

div#game .pawn {
	position: absolute;
	bottom: 50%;
}

div#game .player {
	height: 30px;
	width: 20px;
	background-color: blue;
	left: 10%;
	transition: top: .2s;
	-webkit-transition: bottom .2s;
	-moz-transition: bottom .2s;
	-o-transition: bottom .2s;
	-ms-transition: bottom .2s;
}

div#game .enemy {
	height: 10px;
	width: 10px;
	background-color: red;
	right: 10px;
}