!!! 5
html(lang='en')
	head
		title="Gaia"
		link(rel="stylesheet", type="text/css", href="/stylesheets/gaia.css")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(type="text/javascript", src="/javascripts/gaia.js")

	body
		div(id='game')
			span(id="message")

		div(id='listModal')
			h2="Choose 3 Prizes"
			div(id="startOverlay")
				button(id="startGame")="Start"

		div(id='descPopup')
